table {
    border: 1px solid #1C6EA4;
    background-color: #FFFFFF;
    width: 100%;
    text-align: center;
    border-collapse: collapse;
  }
  table td, table th {
    border: 1px solid #BFBFBF;
    padding: 3px 2px;
  }
  table tbody td {
    font-size: 13px;
  }
  table tr:hover {
    background-color: #E2E2E2;
    cursor: pointer;
  }
  table thead {
    background: #E2E2E2;
  }
  table thead th {
    font-size: 15px;
    font-weight: bolder;
    color: black;
    text-align: center;
  }
  table tfoot {
    font-size: 14px;
    font-weight: bold;
    color: #BBBBBB;
  }
  table tfoot td {
    font-size: 13px;
  }
  table tfoot .links {
    text-align: right;
  }
  table tfoot .links a{
    display: inline-block;

    color: #a7a7a7;
    padding: 2px 8px;
    border-radius: 3px;
  }