<div class="container">
  <!-- <app-content-form list="producto"></app-content-form> -->
  <form [formGroup]="productoForm">      
      <div class="form-group">
          <label >Producto:</label>
          <select formControlName="productId" class="form-control" (change)="getSubproducto()">
              <option value="" >Seleccionar</option>
              <option [value]="product.productId" *ngFor="let product of productsList" >{{product.nameProduct}}</option>
          </select>
          <br>
          <br>
          <div *ngIf="showSubproduct">
            <label >SubProducto:</label>
            <select formControlName="subProductId" (change)="getContentsByProductId()">
              <option value="">Seleccionar</option>
              <option [value]="subProduct.subProductId" *ngFor="let subProduct of subProductsList">{{subProduct.nameSubProduct}}</option>
            </select>
          </div>
      </div>
  </form>
</div>
<br>
<app-table *ngIf="showTable" [data]="contenidos" [titles]="dataTitles"  (dataEvent)="showPagesModal($event)"></app-table>

<app-modal *ngIf="showPages" [titleModal]="titleModalPaginas" 
            [contentTemplate]="pagesModal"
            (click)="closeModal($event);"></app-modal>

 <app-modal *ngIf="showGallery" [titleModal]="titleModalGallery" 
            [contentTemplate]="galleryModal"
            (click)="closeModal($event);"></app-modal> 
          
<app-modal *ngIf="showImages" [titleModal]="titleModalImagens"
            [contentTemplate]="imagesModal"
            (click)="closeModal($event);"></app-modal>

<app-modal *ngIf="showIdPages" [titleModal]="titleIdPages"
            [contentTemplate]="idPagesModal"
            (click)="closeModal($event);"></app-modal>


<!-- Modal Formulario paginas -->
<ng-template #pagesModal>
<form [formGroup]="pagesForm" (ngSubmit)="savePages()">
  <div class="content">
    <div class="flex-container">
      <div class="input controls">
        <br>
        <label>
          Description Page
        </label>
        <textarea class="input" rows="5" column="100" name="descriptionPage" formControlName="descriptionPage"></textarea>
        <br>
        <button class="button" type="submit">Guardar</button>
      </div>
    </div>
  </div>
</form>
</ng-template> <!-- Modal Formulario paginas -->

<ng-template #galleryModal>
  <div id="input">
    <label>
      Archivo
      <input type="file" accept='image/*' #file (change)="fileChangeEvent($event, file.files)" />
    </label>
    <label>
      Nombre de imagen
      <input type="text" name="image" placeholder="Nombre" >
    </label>
    <label>
      Tipo de formato
      <select name="formatSelected" id="formatSelected" >
        <option value="0">Selecciona un formato...</option>
      <!--  <option *ngFor="let format of pages.images"  value="{{format}}">{{ format }}</option> -->
      </select>
    </label>
   
  </div>
  <div id="controls">
    <input type="button" value="Guardar" (click)="sendPhoto()">
    <input id="closeButton" type="button" value="Cancelar" (click)="closeModal($event); $event.stopPropagation()">
  </div>
</ng-template>

<ng-template #imagesModal>
  <div class="flex-container">
    <div *ngIf="imagesError">
      No hay elementos para mostrar aqui. 
    </div>
    <ng-container *ngFor="let image of content">
      <div class="imageContainer">
        <div class="image">
          <img src="{{image.url}}" alt="{{image.nameImage}}" (click)="selectImage($event, image)">
        </div>
        <div class="name">
          {{image.nameImage}}
        </div>
      </div>
    </ng-container>
    <br>
    <div class="container">
      <div class="controls">
        <input type="button" value="Guardar" (click)="savePageImage()" class="btn-pri">
        <input id="closeButton" type="button" value="Cancelar" (click)="closeModal($event); $event.stopPropagation()" class="btn-sec">
      </div>
    </div>
  </div>
</ng-template>

<!-- Modal id de Paginas-->
<ng-template #idPagesModal>
  
  <form [formGroup]="pagesIdForm">
  <label >Pagina:</label>
          <select formControlName="id" class="form-control" (change)="getPageDescropcion($event)">
              <option value="" >Seleccionar</option>
              <option [value]="page.id" *ngFor="let page of pages" >{{page.id}} - {{page.descriptionPage}}</option>
          </select>
          <br>
          <div *ngIf="messageError">
            <br>
            No hay elementos para mostrar.
          </div>
          <div class="flex-container">
          <ng-container *ngFor="let image of listImages">
            <div class="imageContainer">
              <div class="image">
                <img src="{{image.url}}" alt="{{image.nameImage}}" (click)="selectImage($event)">
              </div>
              <div class="name">
                {{image.nameImage}}
              </div>
            </div>
          </ng-container>
        </div>
          <div id="controls">
            <input type="button" class="btn-pri" value="Agregar" (click)="asociarImagenes()">
            <input id="closeButton" type="button" class="btn-sec" value="Cancelar" (click)="closeModal($event); $event.stopPropagation()">
          </div>
        </form>
      
</ng-template>