.controls .right input{
  background: var(--c-bpaginator);
  color: var(--c-cpaginator);
  width: 20px;
  margin-left: 5px;
  border: none;
  padding: 2px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 13px;
  outline-width: 1px;
  outline-color: #6d6d6d;
  font-weight: bolder;
}
