<div class="contentWrapper">
  <app-loader *ngIf="loader"></app-loader>
  <div class="contentComponent">
    <div class="title">
      <p>Catálogo producto</p>
    </div>
    <div class="content">
      <div class="controls">
        <div class="left">
          <input class="btn btn-pri" type="button" value="Agregar" (click)="toggleModal()">
        </div>
        <div class="right">
          <app-paginator [pages]="pages" (dataEvent)="getEventPaginator($event)">
          </app-paginator>
        </div>
      </div>
      <app-table [data]="myData" [titles]="dataTitles" [tags]="tags" (dataEvent)="getDataEvent($event)"></app-table>
    </div>
  </div>
  <app-modal *ngIf="showForm" [titleModal]="titleModal" [contentTemplate]="productModal" (click)="closeModal($event);">
  </app-modal>
</div>

<ng-template #productModal>
  <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
    <div id="input">
      <div class="input-group">
        <label>Nombre</label>
        <input type="text" formControlName="name">
        <div *ngIf="f.name.touched && f.name.errors" class="invalid-input">
          <small *ngIf="f.name.errors.required" class=".invalid-message">Requerido</small>
          <small *ngIf="f.name.errors.maxlength" class=".invalid-message">Máximo 50 caracteres</small>
        </div>
      </div>
      <div class="input-group">
        <label>Descripción</label>
        <input type="text" formControlName="description">
        <div *ngIf="f.description.touched && f.description.errors" class="invalid-input">
          <small *ngIf="f.description.errors.required" class=".invalid-message">Requerido</small>
          <small *ngIf="f.description.errors.maxlength" class=".invalid-message">Máximo 100 caracteres</small>
        </div>
      </div>
      <!-- <div class="input-group">
        <label>Activo</label>
        <input type="checkbox" formControlName="active">
      </div> -->
    </div>
    <div id="controls">
      <input type="button" value="Guardar" (click)="onSubmit(0)" class="btn btn-pri">
      <input id="deleteButton" type="button" value="Eliminar" (click)="delete()" class="btn btn-sec">
      <input id="closeButton" type="button" value="Cancelar" (click)="closeModal($event); $event.stopPropagation()" class="btn btn-sec">
    </div>
  </form>
</ng-template>