<div id="headerBody">
    <div id="logo" class="item">
        <div class="name">
        </div>
    </div>
    <div id="middle" class="item">
        <div class="name"><p>Sales Plataform</p></div>
    </div>
    <div id="user" class="item">
        <div class="skin">
            <input type="button" class="type" (click)="setSkin1()">
            <input type="button" class="type" (click)="setSkin2()">
        </div>
       <p>Usuario logueado</p>
    </div>
</div>