#headerBody{
    color: var(--c-cheader);
    width: 100vw;
    height: 4vh;
    display: flex;
}
#headerBody .item{
    display: inline-block;
}
#headerBody #logo,#middle, #user{
    font-size: 18px;
    align-self: center;    
}
#headerBody #user{
    margin-left: auto;
}
#headerBody #logo{
    width: 230px;
}
#logo .name{
    margin-left: auto;
    width: 50px;
    height: 4vh;
    background-image: var(--b-logoimg);
    background-size: 30px 30px;
    background-repeat: no-repeat;
}
#logo .name img{
    width: 40px;
}
#headerBody #middle{
    font-weight: 600;
}
#middle .name{
    padding-left: .5em;
    text-align: left;
}
#headerBody #user{
    font-size: 14px;  
    width: 200px;
    float: right;
    text-align: center;
    display: flex;
}
#headerBody .item .skin {
    margin-right: 1em;
}
#headerBody .item .skin input{
    width: 20px;
    height: 20px;
    background: var(--c-bpaginator);
    outline: none;
    border: none;
    margin-right: 3px;
    border-radius: 4px;
    cursor: pointer;
}