<form [formGroup]="inputForm" novalidate>
    <div *ngFor="let item of lista; let i = index;">
      <div class="main-input">
        <label for="{{item.tag}}" hidden></label>
        <input formControlName="{{item.tag}}" type="{{item.type}}" (blur)="getInputValue($event)"
           required="{{item.required}}" minlength="{{item.min}}" maxlength="{{item.max}}"
           class="{{classForm}}" attr.inputmode="{{item.inputmode}}" id="{{item.tag}}">
        <label for="textLabel" class="textlabel">{{item.label}}
          <label *ngIf="item.icon">
            <img src="../../../../assets/img/cvv3d.svg" alt="icon" class="icon-cvv">
          </label>
        </label>
        <label for="error" class="errorMessage" id="error-{{item.tag}}" *ngIf="item.showError">
          {{item.error}}
        </label>
  
      </div>
    </div>
  </form>
