/******   ModalForm   ********/

input {
    border-radius: 5px;
  }
  .contentForm{
      position: absolute;
      top: 0;
      height: 96vh;
      width: 100%;
      border: 0;
      background-color: rgba(87, 77, 77, 0.6);
  }
  .content{
      background-color: white;
      align-items: left;
      border: 1px solid #333333;
      z-index: 6;
      padding: 1em;
      display: table;
      margin: 0 auto;
      margin-top: 2em;
      position: relative;
      text-align: left;
  }
  .title{
    background: #3a3a3a;
    color: white;
    margin-bottom: 1em;
    padding: .5em 1em .5em .5em;
  }
  .form{
    margin-left: .5em;
  }
  #modalContent #input input:not([type=checkbox]),
  #modalContent #input label,
  #modalContent #input select {
    display:block;
  }
  #form input{
    border: 1px solid lightgray;
    margin-bottom: .5em;
    cursor: pointer;
    outline: none;
  }
  
  input select{
    height: 21px;
  }
  .input input[type=text]{
    width: 98%;
    padding-left: .5em;
  }
  #modalContent #input input[type="file" i],
  #modalContent #input select
  {
    width: 99%;
  }
  #modalContent #input select{
    padding-left: .5em;
  }
  
  .controls button{
    background: #EC0000;
    color: white;
    padding: .5em 1em .5em 1em;
    margin-right: .5em;
    border-radius: 20px;
  }
   #controls button:hover{
    background: #c90000;
  }
   #controls button:active{
    box-shadow: 0 1px #666;
    transform: translateY(1px);
  }
  