<div id="contentComponent">
    <div class="title"><p>Paginas</p></div>
  </div>
<form [formGroup]="pagesForm" (ngSubmit)="onSubmit()">
  <div class="content">
    <div class="flex-container">
      <div class="input controls">
        <label for="title">
          Content Id
          <input class="input" type="number" name="contentId"  id="contentId" min="1" step="1" formControlName="contentId"/>
        </label>
        <br>
        <label>
          Description Page
        </label>
        <textarea class="input" rows="5" column="100" name="descriptionPage" formControlName="descriptionPage"></textarea>
        <br>
        <button class="button" type="submit">Save</button>
      </div>
    </div>
  </div>
</form>