<!--The content below is only a placeholder and can be replaced.-->
<div id=header>
  <app-header></app-header>
</div>
<div id=container>
  <div id=menu>
    <app-menu></app-menu>
  </div>
  <div id="content" style="text-align:center">
    <div id="contentMiddle">
      <router-outlet></router-outlet>
    </div>
    <!-- <div id="footer">
      <app-footer></app-footer>
    </div> -->
  </div>
</div>


