<!-- <div class="contentWrapper">
  <app-loader *ngIf="loader"></app-loader>
    <div class="contentComponent">
      <div class="title"><p>Catálogo formato copy</p></div>
      <div class="content">
        <div class="controls">
          <div class="left">
            <input class="btn btn-pri" type="button" value="Agregar" (click)="toggleModal()">
          </div>
          <div class="right">
          </div>
        </div>
        <input type="button" class="btn btn-pri btn-sm" value="Primary">
        <input type="button" class="btn btn-pri fnt-bd" value="Primary">
        <input type="button" class="btn btn-pri btn-lg" value="Primary">
        <br>
        <input type="button" class="btn btn-sec btn-sm" value="Secon">
        <input type="button" class="btn btn-sec fnt-bd" value="Secondary">
        <input type="button" class="btn btn-sec btn-lg" value="Secondary">
        <br>
        <div class="form">
          <form [formGroup]="myForm">
            <div class="input-group">
              <label>Archivo</label>
              <input type="file" accept='image/*' formControlName="pathFile"/>
              <div *ngIf="f.pathFile.touched && f.pathFile.errors" class="invalid-input">
                <small *ngIf="f.pathFile.errors.required" class=".invalid-message">Requerido</small>
              </div>
            </div>
            <div class="input-group">
              <label for="imageName">Nombre de imagen</label> 
              <input type="text" name="image" formControlName="imageName">
              <div *ngIf="f.imageName.touched && f.imageName.errors" class="invalid-input">
                <small *ngIf="f.imageName.errors.required" class=".invalid-message">Requerido</small>
              </div>
            </div>
            <div class="input-group">
              <label>Tipo de formato</label>
                <select name="formatSelected" id="formatSelected">
                  <option value="0"></option>
                  <option *ngFor="let format of listFormat" value="{{format.imageFormatId}}">{{ format.descripFormat }}</option>
                </select>
                <div *ngIf="f.idFormat.touched && f.idFormat.errors" class="invalid-input">
                  <small *ngIf="f.idFormat.errors.pattern" class=".invalid-message">Requerido</small>
                </div>
            </div>
            <div class="input-group">
              <label for="cutImage">Recortar imagen</label>
              <input type="checkbox" #cutImage name="cutImage" (change)="enableCrop()">
            </div>
          </form>
        </div>
        <div class="form">
          <div class="input-group">
            <label>radio</label>
            <input type="radio" value="value"><br/>
          </div>
          <div class="input-group">
            <label>range</label>
            <input type="range" value="value"><br/>
          </div>
          <div class="input-group">
            <label>color</label>
            <input type="color" value="value"><br/>
          </div>
          <div class="input-group">
            <label>date</label>
            <input type="date" value="value"><br/>
          </div>
          <div class="input-group">
            <label>number</label>
            <input type="number" value="value"><br/>
          </div>
          <div class="input-group">
            <label>password</label>
            <input type="password" value="value"><br/>
          </div>
          <div class="input-group">
            <label>time</label>
            <input type="time" value="value"><br/>
          </div>
          <div class="input-group">
            <label>week</label>
            <input type="week" value="value"><br/>
          </div>       
        </div>
      </div>
    </div>
  </div> -->

<div class="contentWrapper">
    <app-loader *ngIf="loader"></app-loader>
      <div class="contentComponent">
        <div class="title"><p>Catálogo formato copy</p></div>
        <div class="content">
          <div class="controls">
            <div class="left">
              <input class="btn btn-pri btn-sm" type="button" value="Agregar" (click)="toggleModal()">
            </div>
            <div class="right">
            </div>
          </div>
          <app-table [data]="myData" [titles]="dataTitles" [tags]="tags" [mode]="1" (dataEvent)="getDataEvent($event)"></app-table>
        </div>
      </div>
      <app-modal *ngIf="showForm" [titleModal]="titleModal" [contentTemplate]="formModal" (click)="closeModal($event);">
      </app-modal>
    </div>
  
  <ng-template #formModal>
    <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
      <div id="input">
        <div class="input-group">
          <label>Longitud de copy</label>
          <input type="text" formControlName="size">
          <div *ngIf="f.size.touched && f.size.errors" class="invalid-input">
            <small *ngIf="f.size.errors.required" class=".invalid-message">Requerido</small>
            <small *ngIf="f.size.errors.pattern" class=".invalid-message">Sólo dígitos. Máximo 3</small>
          </div>
        </div>
      </div>
      <div id="controls">
        <input type="button" value="Guardar" (click)="onSubmit()" class="btn btn-pri">
        <input id="closeButton" type="button" value="Cancelar" (click)="closeModal($event); $event.stopPropagation()" class="btn btn-sec">
      </div>
    </form>
  </ng-template>