<div class="contentWrapper">
  <app-loader *ngIf="loader"></app-loader>
  <div class="contentComponent">
    <div class="title">
      <p>Catálogo tipo de contenido</p>
    </div>
    <div class="content">
      <div class="controls">
        <div class="left">
          <input class="btn btn-pri" type="button" value="Agregar" (click)="toggleModal()">
        </div>
        <div class="right">
        </div>
      </div>
      <app-table [data]="myData" [titles]="dataTitles" [tags]="tags" (dataEvent)="getDataEvent($event)"></app-table>
    </div>
  </div>
  <app-modal *ngIf="showForm" [titleModal]="titleModal" [contentTemplate]="formModal" (click)="closeModal($event);">
  </app-modal>
</div>

<ng-template #formModal>
  <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
    <div id="input">
      <div class="input-group">
        <label>Nombre</label>
        <input type="text" formControlName="title">
        <div *ngIf="f.title.touched && f.title.errors" class="invalid-input">
          <small *ngIf="f.title.errors.required" class=".invalid-message">Requerido</small>
          <small *ngIf="f.title.errors.maxlength" class=".invalid-message">Máximo 50 caracteres</small>
        </div>
      </div>
      <div class="input-group">
        <label>Descripción</label>
        <input type="text" formControlName="description">
        <div *ngIf="f.description.touched && f.description.errors" class="invalid-input">
          <small *ngIf="f.description.errors.required" class=".invalid-message">Requerido</small>
          <small *ngIf="f.description.errors.maxlength" class=".invalid-message">Máximo 50 caracteres</small>
        </div>
      </div>
    </div>
    <div id="controls">
      <input type="button" value="Guardar" (click)="onSubmit()" class="btn btn-pri">
      <input id="closeButton" type="button" value="Cancelar" (click)="closeModal($event); $event.stopPropagation()" class="btn btn-sec">
    </div>
  </form>
</ng-template>