<div class="contentWrapper">
    <app-loader *ngIf="loader"></app-loader>
      <div class="contentComponent">
        <div class="title"><p>Distribución de vista</p></div>
        <div class="content">
          <div class="controls">
            <div class="left">
                <select #view (change)='changeView(view.value)'>
                    <option value="0">Canal...</option>
                    <option value="1">ATM</option>
                    <option value="2">Super</option>
                </select>
                  <input type="button" (click)="dhDv(0)" class="btn btn-xm btn-sec" value="+CH" [disabled]="containerSel == ''">
                  <input type="button" (click)="dhDv(1)" class="btn btn-xm btn-sec" value="+CV" [disabled]="containerSel == ''">
                  <input type="button" (click)="incDec(1)" class="btn btn-xm btn-sec fnt-bd" value="+" [disabled]="containerSel == ''">
                  <input type="button" (click)="incDec(0)" class="btn btn-xm btn-sec fnt-bd" value="-" [disabled]="containerSel == ''">
                  <input type="button" (click)="dec()" class="btn btn-xm btn-sec" value="DEL" [disabled]="containerSel == ''">
                  <input type="button" (click)="toogleMargin()" class="btn btn-xm btn-sec" value="M">
                  <input type="button" (click)="reset()" class="btn btn-xm btn-sec" value="CLR">
            </div>
            <div class="right">
            </div>
          </div>
          <div #dataContainer id="workWrapper" (click)="clickElement($event)">
          </div>
        </div>
      </div>
    </div>
