.controls .left{
    width: 50%;
}
#workWrapper{
    margin: 1em;
    /* border: 1px solid black; */
    background: rgb(200, 200, 200);
    box-sizing: border-box;
    /* display: flex; */
}
.container{
    cursor: pointer;
}
#workWrapper .container:hover:not(.containerSel){
    background: #858585!important;
}
.containerSel{
    background: #4d4d4d!important;
}
#workWrapper, .container{
    width: 100%;
    height: 100%;
}
.initial{
    /* display: flex;
    flex-wrap: wrap; */
}
.inline{
    display: inline-block;
}
