<div class="contentWrapper">
  <app-loader *ngIf="loader"></app-loader>
  <div class="contentComponent">
    <div class="title">
      <p>Catálogo imágenes</p>
    </div>
    <div class="content">
      <div class="controls">
        <div class="left">
          <input type="button" value="Nuevo" class="btn-sm btn btn-pri" (click)="toggleModal()">
        </div>
        <div class="right">
          <app-paginator [pages]="pages" (dataEvent)="getEventPaginator($event)"></app-paginator>
        </div>
      </div>
      <div class="flex-container">
        <div *ngIf="messageError">
          No hay elementos para mostrar.
        </div>
        <ng-container *ngFor="let image of listImages">
          <div class="imageContainer">
            <div class="image">
              <img src="{{image.url}}" alt="{{image.nameImage}}" (click)="previewImage($event)">
            </div>
            <div class="name">
              {{image.nameImage}}
            </div>
            <div class="url">
              <input type="text" disabled value="{{image.url}}">
              <input type="button" value="cp" class="btn btn-sec btn-sm fnt-bd">
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
  <app-modal *ngIf="showForm" [titleModal]="titleModal" [contentTemplate]="galleryModal" (click)="closeModal($event);">
  </app-modal>
  <app-modal *ngIf="showPreview" [titleModal]="titlePreview" [contentTemplate]="preview" (click)="closeModal($event);">
  </app-modal>
</div>

<ng-template #galleryModal>
  <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
    <div id="input">
      <div class="form">
        <div class="input-group">
          <label>Archivo</label>
          <input type="file" accept='image/*' #file (change)="fileChangeEvent($event, file.files)" formControlName="pathFile"/>
          <div *ngIf="f.pathFile.touched && f.pathFile.errors" class="invalid-input">
            <small *ngIf="f.pathFile.errors.required" class=".invalid-message">Requerido</small>
          </div>
        </div>
        <div class="input-group">
          <label for="imageName">Nombre de imagen</label> 
          <input type="text" name="image" formControlName="imageName">
          <div *ngIf="f.imageName.touched && f.imageName.errors" class="invalid-input">
            <small *ngIf="f.imageName.errors.required" class=".invalid-message">Requerido</small>
          </div>
        </div>
        <div class="input-group">
          <label>Tipo de formato</label>
            <select name="formatSelected" id="formatSelected" formControlName="idFormat">
              <option value="0"></option>
              <option *ngFor="let format of listFormat" value="{{format.imageFormatId}}">{{ format.descripFormat }}</option>
            </select>
            <div *ngIf="f.idFormat.touched && f.idFormat.errors" class="invalid-input">
              <small *ngIf="f.idFormat.errors.pattern" class=".invalid-message">Requerido</small>
            </div>
        </div>
        <div class="input-group">
          <label for="cutImage">Recortar imagen</label>
          <input type="checkbox" #cutImage name="cutImage" (change)="enableCrop()">
        </div>
      </div>
      <div class="result">
        <img [src]="croppedImage"/>
      </div>
      <div [hidden]="!cutImage.checked" class="cropperObject">
        <image-cropper [imageChangedEvent]="imageChangedEvent" 
                        [imageFile]="imageFile" 
                        [maintainAspectRatio]="false"
                        format="png"
                        (imageCropped)="imageCropped($event)" 
                        (imageLoaded)="imageLoaded()"
                        (cropperReady)="cropperReady()"
                        (loadImageFailed)="loadImageFailed()">
        </image-cropper>
      </div>
    </div>
    <div id="controls">
      <input type="button" value="Guardar" (click)="onSubmit()" class="btn btn-pri">
      <input id="closeButton" type="button" value="Cancelar" (click)="closeModal($event); $event.stopPropagation()" class="btn btn-sec">
    </div>
  </form>
</ng-template>

<ng-template #preview>
  <div class="imagePreview">
    <img src="{{ previewUrl }}" (load)="complete()">
  </div>
</ng-template>