.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
.imageContainer{
  margin: 10px;
  background: #ebebeb;
  box-sizing: border-box; 
}
.imageContainer .image{
  cursor: pointer;
  border: 1px solid #EBEBEB;
  width: 250px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden
}
.imageContainer .image:hover{
  border-color: #EC0000 !important;
}
.imageContainer img{
  flex-shrink: 0;
  min-width: 100%;
  min-height: 100%
}
.container img{
  width: 200px;
  text-align: center; 
  font-size: 30px;
  border: 1px solid gray;
}
.url {
  padding: .5em;
}
.url input[type=text]{
  border: none;
}
.container{
  margin-top: 1em;
}
.result img{
  margin: auto;
}

.imagePreview{
 width: 100%;
}
.imagePreview img{
  width: 98%;
}
#input{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
#input .form{
  order: 1;
}
#input .result{
  order: 1;
  margin: auto;
}
#input .result img{
  max-width: 300px;
  max-height: 300px;
  border: 1px solid #333333;
}
#input .cropperObject{
  order: 2;
  height: 300px;
  width: 600px;
  margin: auto;
}

