<div class="contentWrapper">
  <app-loader *ngIf="loader"></app-loader>
    <div class="contentComponent">
      <div class="title"><p>Catálogo formato imagen</p></div>
      <div class="content">
        <div class="controls">
          <div class="left">
            <input class="btn btn-pri" type="button" value="Agregar" (click)="toggleModal()">
          </div>
          <div class="right">
          </div>
        </div>
        <app-table [data]="myData" [titles]="dataTitles" [tags]="tags" (dataEvent)="getDataEvent($event)"></app-table>
      </div>
    </div>
    <app-modal *ngIf="showForm" [titleModal]="titleModal" [contentTemplate]="formModal" (click)="closeModal($event);">
    </app-modal>
  </div>

<ng-template #formModal>
  <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
    <div id="input">
      <div class="input-group">
        <label>Descripción de formato</label>
        <input type="text" formControlName="name">
        <div *ngIf="f.name.touched && f.name.errors" class="invalid-input">
          <small *ngIf="f.name.errors.required" class=".invalid-message">Requerido</small>
          <small *ngIf="f.name.errors.maxlength" class=".invalid-message">Máximo 10 caracteres</small>
        </div>
      </div>
    </div>
    <div id="controls">
      <input type="button" value="Guardar" (click)="onSubmit()" class="btn btn-pri">
      <input id="closeButton" type="button" value="Cancelar" (click)="closeModal($event); $event.stopPropagation()" class="btn btn-sec">
    </div>
  </form>
</ng-template>