@font-face {
  font-family: sant;
  src: url(assets/font/original_SantText-Regular.ttf) format('truetype');
}

:root {
  /* Global */
  --c-bheader: #EC0001;
  --c-cheader: white;
  --b-logoimg: url(/assets/img/logow.png);

  /* MENU */
  --c-bmenu: #333333;
  --c-cmenu: white;
  --c-bolovermenu: #EC0001;
  --c-bovermenu: #414141;
  --c-covermenu: white;
  --c-ccrossmenu: white;
  --c-bpl0menu: #525252;
  --c-bpl1menu: #696969;
  --c-bselectedmenu: #EC0001;
  --c-cselectedmenu: white;

  /* Content*/
  --c-bcontent: #f8f8f8;
  --c-btitle: #333333;
  --c-ctitle: white;

  /* Paginator */
  --c-bpaginator: #333333;
  --c-cpaginator: white;

  /* Table */
  /* Buttons */
  --c-bbuttonoverpri: #E8E8E8;
  --c-cbuttonoverpri: #EC0000;
  --c-boButtonOverPri: #E8E8E8;
}

*{
    margin: 0;
    padding: 0;
    font-family: 'sant', 'arial', 'sans-serif';
}
#header{
    background-color: var(--c-bheader);
    height: 4vh;
    width: 100%;
    top: 0;

    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;

    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
}
#container{
    height: 100vh;
}
#menu{
    background: var(--c-bmenu);
    height: 100%;
    min-height: 100%;
    position: fixed;
    width: 230px;
    overflow: hidden;
    display: block;
    top: 4vh;
    z-index: 9;
}
#content{
    padding-left: 230px;
    padding-top: 4vh;
}
/* HTML ELEMENTS */
/* font */
  .fnt-bd{
    font-weight: bolder;
  }

/* input button */
  .btn{
    font-size: 12px;
    border: none;
    padding: 10px 25px;
    cursor: pointer;
    border-radius: 20px;
    outline: none;
    transition: .3s;
    width: 110px;
    margin: .2em .5em;
    box-sizing: border-box;
  }
  input[type=button]:active{
    box-shadow: 0 1px #666;
    transform: translateY(1px);
  }
  input[type=button]:disabled{
    cursor: none;
    background: #929292;
  }
    /* size */
  .btn-xm{
    width: 50px !important;
    padding: 4px 10px !important;
  }
  .btn-sm{
    width: 80px !important;
    padding: 8px 20px !important;
  }
  .btn-lg{
    width: 150px !important;
    padding: 12px 35px !important;
  }
    /* styles */
  .btn-pri{
    background: #EC0000;
    color: white;
    border: 1px solid #EC0000;
  }
  .btn-pri:hover{
    background: var(--c-bbuttonoverpri);
    color: var(--c-cbuttonoverpri);
    border-color: var(--c-boButtonOverPri);
  }
  .btn-sec{
    background: #E8E8E8;
    color: #333333;
  }
  .btn-sec:hover{
    color: #333333;
    background: #c2c2c2;
  }

/* input all */
  input:not([type=button]),
  select{
    width: 100%;
    box-sizing: border-box;
    font-size: 14px;
    color: #555;
    padding-left: 10px;
    border-radius: 4px;
    border: 2px solid #C1C1C1;
  }
  input:not([type=button]):not([type=file]){
    height: 28px;
  }
  input[type=color]{
    padding: 2px 4px;
  }
  input[type=file]{
    padding: 0;
  }
  input[type=radio],
  input[type=checkbox]{
    height: 20px!important;
    width: 30px;
    margin-left: 1em;
  }

.input-group{
  margin-bottom: 15px;
  display: block;
}
.input-group label{
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: 600;
}
.input-group input[type=checkbox],
.input-group input[type=radio]{
  vertical-align: top;
}

/*** conctentWrapper ***/
.contentWrapper{
    position: relative;
    width: 100%;
  }
.contentComponent{
    background: var(--c-bcontent);
    width: 94%;
    height: 100%;
    margin: auto;
    margin-top: 1em;
  }
.contentComponent .title{
    height: 23px;
    padding-left: 1em;
    text-align: left;
    color: var(--c-ctitle);
    background: var(--c-btitle);
    padding-top: 5px;
    margin-bottom: .5em;
    border-radius: 4px;
  }
.contentComponent .controls{  
    margin-bottom:.5em;
    display: flex;
  }
.contentComponent .content{
    padding: .5em .5em 1em .5em;
  }

/**** Content ******/
.controls .left, 
.controls .right{
  display: flex;
  align-content: space-between;
}
.controls .left{
  margin-right: auto;
  margin-left: 1em;
}
.controls .right{
  margin-left: auto;
  margin-right: 1em;
  margin-top: auto;
  margin-bottom: auto;
}

/**** Reactive froms ****/
.invalid-input{
  margin-top: -.1em;
  color: #333333;
  background-color: #F8F8F8;
  border-radius: 5px;
  width: 99%;
  margin-top:1px;
}
.invalid-input small{
  padding-left: .5em;
}
.ng-invalid:not(.ng-untouched),
.ng-invalid:not(.ng-pristine){
  border-color: #B00020 !important;
}