/******   ModalForm   ********/
#modalContent,
#modalContent #title{
  border-radius: 5px;
}
#modalForm{
    position: absolute;
    top: 0;
    height: 100vh;
    width: 100%;
    border: 0;
    background-color: rgba(87, 77, 77, 0.6);
}
#modalContent{
    background-color: white;
    align-items: left;
    border: 1px solid #333333;
    z-index: 6;
    padding: 1em;
    display: table;
    margin: 0 auto;
    margin-top: 2em;
    position: relative;
    text-align: left;
    margin-bottom: 2em;
}
#modalContent #title{
  height: 23px;
  background: var(--c-btitle);
  color: white;
  margin-bottom: 1em;
  padding-left: 1em;
  padding-top: 5px;
}
#modalContent #form{
  margin-left: .5em;
}
#modalContent #controls{
  margin-top: 2em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
