<div id="modalForm">
  <div id="modalContent">
    <div id="title">{{ titleModal }} </div>
    <div id="form" style="width: 50vw;">
      <ng-container *ngTemplateOutlet="contentTemplate"></ng-container>
    </div>
  </div>
</div>