<div class="wrapper">
  <div *ngFor="let menu of listMenu; let i = index" class="wrap">
    <ng-container *ngTemplateOutlet="first; context:{ $implicit: menu, tab: 0 }"></ng-container>
  </div>
</div>
<ng-template #first let-data let-tab="tab">
  <input type="radio" id="t-{{data.id}}" name="tab{{tab}}">
  <label for="t-{{data.id}}"><div>{{ data.name }}</div><div class="cross"></div></label>
  <ng-container *ngTemplateOutlet="middle; context:{ $implicit: data.subMenu, tab: tab };"></ng-container>
</ng-template>
<ng-template #middle let-data let-tab="tab">
  <ng-container *ngFor="let item of data;">
    <div *ngIf="!item.subMenu" class="content pl{{tab}}" [routerLink]="item.routerPath" (click)="selected($event)">
      <span>{{ item.name }}</span>
    </div>
    <div *ngIf="item.subMenu" class="questions">
      <ng-container *ngTemplateOutlet="first; context:{ $implicit: item, tab: tab+1 };"></ng-container>
    </div>
  </ng-container>
</ng-template>