.wrapper {
    max-width: 600px;
    width: 100%;
    color: var(--c-cmenu);
}
input {
    display: none;
}
label {
    display: flex;
    height: 50px;
    cursor: pointer;
    user-select: none;
    font-weight: bolder;
}
label:hover,
.content:hover{
    border-left: 3px solid var(--c-bolovermenu);
    background: var(--c-bovermenu);
    color: var(--c-covermenu);
}
label div:first-child {
    width: 100%;
    line-height: 45px;
    margin-left: 10px;
    font-size: 1.1em;
}
.cross{
    margin-right:15px;
    margin-top:3px;
}
.cross:before,.cross:after {
    content: '';
    border-top: 2px solid var(--c-ccrossmenu);
    width: 12px;
    display: block;
    margin-top: 18px;
    transition: 0.3s;
}
.cross:after {
    transform: rotate(90deg);
    margin-top: -2px;
}
.content {
    display: none;
    box-sizing: border-box;
    font-size: 0.9em;
    overflow: hidden;
    transition: max-height, .2s;
    line-height: 30px;
    cursor: pointer;
    outline: none;
}
.content span{
    vertical-align: middle;
}
input:checked ~ .content {
    max-height: 400px;
    transition: max-height, .2s;
    display: block;
}
input:checked ~ label .cross:before {
    transform: rotate(180deg);
}
input:checked ~ label .cross:after {
    transform: rotate(0deg);
}
.questions{
    max-height: 0;
    overflow: hidden;
    transition: max-height, .2s;
}
.questions label{
    border: none;
    box-shadow: none;
    margin:0;
    padding-left: 15px;
}
input:checked ~ .questions {
    max-height: 400px;
/*     border-top: 2px solid #ec3232;
    border-bottom:2px solid #ec3232; */
    transition: .2s;
}
.pl0{
    padding-left: 15px;
    background: var(--c-bpl0menu);
}
.pl1{
    padding-left: 25px;
    background: var(--c-bpl1menu);
}
.pl2{
    padding-left: 35px;
}
.selected{
    background-color: var(--c-bselectedmenu);
    color: var(--c-cselectedmenu);
}